 .bg-background2:before {
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .pattern:before{
	background:linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .owl-controls .owl-page.active,  .owl-controls .owl-page.active:hover {
    border-color: #f15f74;
    opacity: 1;
}
 .owl-carousel:hover  .owl-nav button {
    color: #f15f74 !important;
}
  .owl-nav button {
    color: #f15f74 !important;
}
  a.bg-secondary:hover,  a.bg-secondary:focus,   button.bg-secondary:hover,   button.bg-secondary:focus {
    background-color: #37496e !important;
}
  .item-card7-overlaytext h4 {
    background: #f15f74;
}
  .bg-background-color:before {
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%) !important;
}
  .bg-dark-purple {
    background-color:#1d1f47 !important
}
 .btn-primary {
	color: #fff;
	background-color: #f15f74;
	border-color: #f15f74;
}
 .btn-primary:hover {
	color: #fff;
	background-color: #ff9491;
	border-color: #ff9491;
}
 .btn-primary:focus,   .btn-primary.focus {
	box-shadow: 0 0 0 2px rgb(249, 100, 121,0.5);
}
 .btn-primary.disabled,  .btn-primary:disabled {
	color: #fff;
	background-color: #f15f74;
	border-color: #f15f74;
}
 .btn-primary:not(:disabled):not(.disabled):active,   .btn-primary:not(:disabled):not(.disabled).active,  .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #f15f74;
	border-color: #f15f74;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(233, 30, 99, 0.1);
}
 .btn-outline-primary {
	color: #f15f74;
	background-color: transparent;
	background-image: none;
	border-color: #f15f74 !important;
}
 .btn-outline-primary:hover {
	color: #fff;
	background-color: #f15f74;
	border-color: #f15f74 !important;
}
 .btn-outline-primary:focus,   .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.1);
}
 .btn-outline-primary.disabled,  .btn-outline-primary:disabled {
	color: #f15f74;
	background-color: transparent;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active,   .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #f15f74 ;
	border-color: #f15f74;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus,   .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.1);
}
 .btn-link {
	color: #f15f74;
}
 .alert-primary {
	color: #fcfdff;
	background-color: #f15f74 ;
	border-color: #f15f74;
}
 .alert-primary hr {
	border-top-color: #b7cded;
}
 .alert-primary .alert-link {
	color: #172b46;
}
 .label-primary {
	background-color: #f15f74;
}
 .badge-primary {
	color: #fff;
	background-color: #f15f74 ;
}
 .badge-primary[href]:hover,   .badge-primary[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #f15f74;
}
 .bg-gradient-primary {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.9) 0%, rgba(121, 24, 242, 0.9) 48%, rgba(172, 50, 228, 0.9) 100%);
}
 .bg-primary {
	background-color: #ec296b !important;
}
 a.bg-primary:hover,   a.bg-primary:focus,   button.bg-primary:hover,   button.bg-primary:focus {
	background-color: #f15f74 !important;
}
 .border-primary {
	border-color: #f15f74 !important;
}
 .text-primary {
	color: #f15f74 !important;
}
  a.text-primary:hover,   a.text-primary:focus {
	color: #d71b5b !important;
}
 a.text-dark:hover,   a.text-dark:focus {
	color: #f15f74    !important;
}
  .social-box.linkedin i {
	background: #f15f74 ;
}
 .checkbox span:after {
	background-color: #f15f74;
}
 .user-card .card-block .activity-leval li.active {
	background-color: #f15f74;
}
 #count-down .clock-presenter .digit {
	background: #f15f74;
}
 .masthead .masthead-bg {
	background: linear-gradient(120deg, #0f75ff 0%, #f15f74    100%);
}
 .notifyimg {
	background: #f15f74;
}
 .drop-icon-wrap .drop-icon-item:hover {
	color: #f15f74;
}
 .dropdown-item:hover, .dropdown-item:focus {
	color: #f15f74;
}
.dropdown-item.active, .dropdown-item:active {
	color: #f15f74;
}
 .timeline__item:after {
	border: 6px solid #f15f74;
}
 .custom-control-input:checked~.custom-control-label::before {
	background-color: #f15f74;
}
 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #f15f74;
}
 .custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #f15f74;
}
 .custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #f15f74;
}
 .custom-select:focus {
	border-color: #f15f74;
}
 .custom-file-input:focus~.custom-file-label {
	border-color: #f15f74;
}
 .custom-file-input:focus~.custom-file-label::after {
	border-color: #f15f74;
}
 .custom-file-label::after {
	background-color: #f15f74;
	border-left: 1px solid #f15f74;
}
 .custom-range::-webkit-slider-thumb {
	background-color: #f15f74;
}
 .custom-range::-moz-range-thumb {
	background-color: #f15f74;
}
 .custom-range::-ms-thumb {
	background-color: #f15f74;
}
 .nav-link.active {
	background-color: #f15f74;
}
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #f15f74;
}
 .page-link:hover {
	color: #f15f74;
}
 .page-item.active .page-link {
	background-color: #f15f74;
	border-color: #f15f74;
}
 .range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: #f15f74;
}
 .range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: #f15f74;
}
 .range.range-primary output {
	background-color: #f15f74;
}
 .range.range-primary input[type="range"] {
	outline-color: #f15f74;
}
 .nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
	background: #f15f74;
}
 .nav-tabs .nav-item1 .nav-link.active {
	background: #f15f74;
}
 .panel.price>.panel-heading {
	background: #f15f74;
	color: #fff;
}
 .panel.price>.panel-heading {
	background: #f15f74;
}
 .heading-primary {
	background-color: #f15f74;
}
 .page-header .breadcrumb-item a {
	color: #605e7e;
}
 .breadcrumb-item1 a:hover {
	color: #f15f74;
}
 .panel-title1 a {
	color: #f15f74;
}
 .header {
	background: linear-gradient(120deg, #0f75ff 60%, #f15f74    100%);
}
 .header-bg {
	background: #eef2f9;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f9, #f15f74   );
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f9, #f15f74   );
}
 .nav-tabs .nav-link:hover:not(.disabled) {
	color: #fff;
	background: #f15f74;
}
 .nav-tabs .nav-link.active {
	color: #fff;
	background: #f15f74;
}
 .navtab-wizard.nav-tabs .nav-link.active, .navtab-wizard.nav-tabs .nav-link:hover {
	color: #f15f74;
	background: #fff;
}
 .admin-navbar .nav-item.active .nav-link {
	color: #f15f74;
}
 .admin-navbar .nav-item.active .nav-link .icon {
	color: #f15f74;
}
 .admin-navbar .nav-link:hover, .admin-navbar .nav-link:focus {
	color: #f15f74;
}
 .admin-navbar .nav-link.active {
	color: #f15f74;
}
 .admin-navbar .mega-dropdown .sub-item .section-label {
	color: #f15f74;
}
 .admin-navbar .sub-item ul a:active {
	background-color: #f15f74;
}
 .admin-navbar .sub-item ul a:hover, .admin-navbar .sub-item ul a:focus {
	color: #f15f74;
	text-decoration: none;
	background-color: #f9faff;
}
 .expanel-primary {
	border: #f15f74    !important;
}
 .expanel-primary>.expanel-heading {
	color: #fff !important;
	background-color: #f15f74    !important;
	border-color: #f15f74    !important;
}
 .error-img .form-control:focus {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: #f15f74;
}
 .avatar {
	background: #f15f74    no-repeat center/cover;
}
 .spinner {
	background: linear-gradient(120deg, #0f75ff 0%, #f15f74    100%);
}
 .spinner-lg {
	background-color: #f15f74;
}
 .double-bounce1,   .double-bounce2 {
	background: linear-gradient(120deg, #0f75ff 0%, #f15f74    100%);
}
 .cube1,  .cube2 {
	background: linear-gradient(120deg, #0f75ff 0%, #f15f74    100%);
}
 .lds-heart div {
	background: #f15f74;
}
 .lds-heart div:after,  .lds-heart div:before {
	background: #f15f74;
}
 .lds-ring div {
	border: 6px solid #f15f74;
	border-color: #f15f74    transparent transparent transparent;
}
 .lds-hourglass:after {
	border: 26px solid #f15f74;
	border-color: #f15f74    transparent;
}
 .mediaicon {
	border: 1px solid #f15f74;
	background: #f15f74;
}
 a.chip:hover {
	background-color: #f15f74;
}
 .highlight .s {
	color: #f15f74;
}
 .selectgroup-input:checked+.selectgroup-button {
	border-color: #f15f74;
	z-index: 1;
	color: #f15f74;
	background: #f6f7fb;
}
 .selectgroup-input:focus+.selectgroup-button {
	border-color: #f15f74;
	z-index: 2;
	color: #f15f74;
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .custom-switch-input:checked~.custom-switch-indicator {
	background: #f15f74;
}
 .custom-switch-input:focus~.custom-switch-indicator {
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
	border-color: #f15f74;
}
 .imagecheck-input:focus~.imagecheck-figure {
	border-color: #f15f74;
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .imagecheck-figure:before {
	background: #f15f74    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
	color: #fff;
}
 .colorinput-input:focus~.colorinput-color {
	border-color: #f15f74;
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .ui-datepicker .ui-datepicker-title {
	color: #f15f74;
}
 #back-to-top {
	background:#f15f74  ;
}
 #back-to-top:hover {
	background: #fff;
	color: #f15f74;
	border: 2px solid #f15f74;
}
 #chat-message {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%)
}
 .tabs-menu ul li .active {
	background: #f15f74;
}
 .tabs-menu1 ul li .active {
	border: 1px solid #f15f74;
	color: #f15f74;
}
 .wideget-user-tab .tabs-menu1 ul li .active {
	border-bottom: 2px solid #f15f74    !important;
}
 .rating-stars .rating-stars-container .rating-star.is--active .fa-heart, .rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
	color: #f15f74;
}
 .message-feed:not(.right) .mf-content {
	background: #f15f74;
	color: #fff;
}
 .message-feed:not(.right) .mf-content:before {
	border-right-color: #f15f74;
}
 .msb-reply button {
	background: #f15f74;
}
 .wizard-card .moving-tab {
	background-color: #f15f74    !important;
}
 .wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
	border-color: #f15f74    !important;
	color: #f15f74    !important;
}
 .cal1 .clndr .clndr-table .header-days {
	background: #f15f74;
}
 .cal1 .clndr .clndr-table tr .day.today.event, .cal1 .clndr .clndr-table tr .day.my-today.event {
	background: #f15f74;
}
 .cal1 .clndr .clndr-table tr .day.today:hover, .cal1 .clndr .clndr-table tr .day.my-today:hover {
	background: #f15f74;
	color: #fff;
}
 .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
	color: #f15f74;
	background: #e6f2fe;
}
 .cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
	color: #f15f74;
	background: #e6f2fe;
}
 .cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
	background: #f15f74;
}
 .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
	background: #f15f74;
}
 .fc button {
	background: #f15f74;
}
 .fc-event, .fc-event-dot {
	background-color: #f15f74;
	color: #f1f1f1! important;
}
 #sidebar .accordion-toggle i {
	background: linear-gradient(120deg, #0f75ff 60%, #f15f74    100%);
}
 #sidebar ul li.active>a {
	color: #f15f74;
}
 #sidebar ul li.active>a:hover {
	color: #f15f74;
}
 #sidebar li a[aria-expanded="true"].active:before {
	background: linear-gradient(120deg, #0f75ff 60%, #f15f74    100%);
}
# sidebar ul li a:hover {
	color: #f15f74;
}
 #sidebar .collapse li a:hover {
	color: #f15f74;
}
 .sweet-alert button {
	background-color: #f15f74    !important;
}
 .timeline__item:after {
	border: 6px solid #f15f74;
}
 .label-primary.arrowed:before {
	border-right-color: #f15f74;
}
 .widgetdate p {
	border-bottom: 2px solid #f15f74;
}
 .widgetbox p {
	border-bottom: 2px solid #f15f74;
}
 .datebox p {
	border-bottom: 2px solid #f15f74;
}
/* .arrow-ribbon.bg-primary:before {
	border-left: 15px solid #f15f74;
}*/
 .arrow-ribbon2:before {
	border-left: 24px solid #f15f74;
}
 .badge-offer.bg-primary:after {
	border-top: 12px solid #f15f74;
}
 .badge-offer1.bg-primary:after {
	border-top: 12px solid #f15f74;
}
 .social-icons li:hover {
	background: #f15f74;
	color: #fff;
}
 .social li a:hover {
	color: #f15f74;
}
 .footer-main a:hover {
	color: #f15f74;
}
 .footer-links a:hover {
	color: #f15f74   
}
 .product-tags li a:hover {
	background: #f15f74;
	border-color: #f15f74;
}
 .info .counter-icon {
	border: 1px solid rgba(255, 255, 255, 0.6);
}
 .info .counter-icon i {
    color: #fff;
}
 .counter-icon {
	border: 1px solid #f15f74;
}
 .counter-icon i {
	color: #f15f74;
}

 .header-links li a.active {
	background: #f15f74;
	color: #fff;
}
 .header-links li a:hover {
	background: #f15f74;
	color: #fff;
}
 .card-pay .tabs-menu li a.active {
	background: #f15f74;
}
 .item1-tabs-menu ul li .active {
	background: #f15f74;
}
 .items-blog-tab-heading .items-blog-tab-menu li .active {
	background: #f15f74;
	color: #fff;
}
 .item2-gl-nav .item2-gl-menu li .active {
	color: #f15f74;
}
 .item-all-cat .item-all-card:hover .item-all-text h5 {
	color: #f15f74    !important;
}
 .item-all-cat .category-type .item-all-card img {
    background: linear-gradient(120deg, #3ba2ff 0%, #6963ff 100%);
}
 .item-all-cat .item-all-card{
	position:relative;
	padding:1.5rem 1.5rem;
	border-radius:4px;
	margin-bottom:10px;
	color:#fff;
}
 .item-all-cat .category-type .item-all-card img{
	width: 7rem;
    height: 7rem;
    border-radius: 50%;
    padding: 2.3rem 0;
}
 .item-all-cat .row .item-all-card{
	margin-bottom: 1.5rem;
}

 .item-all-cat .item-all-card a{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
 .iteam-all-icon i{
	font-size:1.5rem
}
 .item-all-card img.imag-service path{
	
}
 .item-all-card img.imag-service{
	width:40%;	
}
 .carousel-indicators li.active {
	color: #fff;
	background: #f15f74;
}
 .item-cards7-ic.realestate-list li a:hover {
	color: #f15f74;
}
 .item1-links a:hover {
	color: #f15f74;
}
 .item1-links a.active {
	background: rgba(241, 238, 247, 0.6);
	color: #f15f74;
	border-right: 2px solid #f15f74;
}
 .settings-tab .tabs-menu li a.active {
	background: #f15f74;
}
 .ads-tabs .tabs-menus ul li .active {
	background: #f15f74;
	color: #fff;
}
 .showmore-button-inner {
	border: 1px solid #f15f74;
	color: #f15f74;
}
 .owl-nav button {
	color: #f15f74    !important;
}
 .owl-carousel:hover .owl-nav button {
	color: #f15f74    !important;
}
 .owl-nav>div i {
	color: #f15f74;
}
 .tabs-menu ul.eductaional-tabs li .active {
	background: #f15f74;
}
 .register-right .nav-tabs .nav-link:hover {
	background: #f15f74;
	color: #fff;
}
 .gradient-icon {
	background: linear-gradient(120deg, #3ba2ff 0%, #f15f74    100%);
}
 .axgmap-img {
	border: 3px solid #f15f74;
}
 .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form input[type="submit"] {
	background-color: #f15f74;
	color: #fff;
}
 .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form input[type="button"] {
	background-color: #f15f74;
	color: #fff;
}
 .horizontalMenu>.horizontalMenu-list>li>a.active {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}
 .horizontalMenu>.horizontalMenu-list>li:hover>a {
	background-color: #f15f74;
	color: #fff !important;
}
 .horizontalMenu>.horizontalMenu-list>li:hover>a .fa {
    background-color: #f15f74  ;
    color: #fff !important;
}
 .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li:hover>a {
	background-color: #f15f74;
	color: #fff;
}
 .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
	background-color: #f15f74;
	color: #fff;
}
 .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
	background-color: #f15f74;
	color: #fff;
}
 code {
	color: #f15f74;
}
 #gdpr-cookie-message h4 {
	color: #f15f74;
}
 #gdpr-cookie-message h5 {
	color: #f15f74;
}
 #gdpr-cookie-message a {
	color: #f15f74;
	border-bottom: 1px solid #f15f74;
}
 #gdpr-cookie-message a:hover {
	border-bottom: 1px solid #f15f74;
	transition: all 0.3s ease-in;
	color: #f15f74;
}
 button#gdpr-cookie-advanced {
	color: #fff;
	background-color: #f15f74    !important;
}
 .ui-widget-header {
	background: #f15f74;
}
 .ui-state-default,   .ui-widget-content .ui-state-default,  .ui-widget-header .ui-state-default {
	background: #f15f74;
}
 .side-menu .side-menu__icon {
	/*background: linear-gradient(120deg, #f15f74    60%, #2ddcd3 100%);*/
}
 .side-menu li a.active:before {
	background: linear-gradient(120deg, #f15f74    60%, #2ddcd3 100%);
	box-shadow: 0px 0px 14px 0px #f15f74;
}
 .app-sidebar .side-menu__item.active {
	color: #f15f74    !important;
}
 .app-sidebar .side-menu__item.active:hover {
	color: #f15f74    !important;
}
 .app-sidebar .side-menu li.active>a {
	color: #f15f74;
}
 .app-sidebar .side-menu li a.active {
	color: #f15f74;
}
 .app-sidebar .slide-menu li.active>a {
	color: #f15f74;
}
 .app-sidebar .side-menu li ul li a:hover {
	color: #f15f74;
}
 .app-sidebar .side-menu li a:hover {
	color: #f15f74;
}
 .app-sidebar .side-menu li.active>a {
	color: #f15f74;
}
 .app-sidebar .side-menu li a.active {
	color: #f15f74;
}
 .app-sidebar .slide-menu li.active>a {
	color: #f15f74;
}
 .app-sidebar .side-menu li a:hover {
	color: #f15f74;
}
 .side-menu .side-menu__icon {
	/*background: linear-gradient(120deg, #f15f74    60%, #2ddcd3 100%);*/
}
 .side-menu li a.active:before {
	background: linear-gradient(120deg, #f15f74   60%, #2ddcd3 100%);
	box-shadow: 0px 0px 14px 0px #f15f74;
}
 .navtab-wizard.nav-tabs .nav-link.active, .navtab-wizard.nav-tabs .nav-link:hover {
	color: #fff;
	background: #f15f74;
}
 .form-inline .nav-search .btn {
	border: 2px solid #f15f74;
}
 .wrapper>h1 span {
	border-bottom: 2px solid #f15f74;
	color: #f15f74;
}
 .tab_wrapper>ul li.active {
	border-color: #f15f74;
	background: #f15f74;
	color: #fff;
}
 .tab_wrapper .controller span {
	background: #f15f74;
}
 .tab_wrapper .content_wrapper .accordian_header.active {
	color: #f15f74;
}
 .tab_wrapper .content_wrapper .accordian_header.active:after {
	background: #f15f74;
}
 .tab_wrapper .content_wrapper .accordian_header.active .arrow {
	border-top: 3px solid #f15f74;
	border-left: 3px solid #f15f74;
}
 .tab_wrapper.left_side>ul li.active:after {
	background: #f15f74;
}
 .tab_wrapper.right_side>ul li.active:after {
	background: #f15f74;
}
 .addui-slider .addui-slider-track .addui-slider-range {
	background: #f15f74;
}
 .addui-slider .addui-slider-track .addui-slider-handle:after {
	background: #f15f74;
}
 .accordionjs .acc_section.acc_active>.acc_head {
	background: #f15f74;
}
 .perfect-datetimepicker tbody td.selected {
	border: 1px solid #f15f74;
	background-color: #f15f74;
}
 div.conv-form-wrapper div.options div.option {
	border: 1px solid #f15f74;
	color: #f15f74;
}
 div.conv-form-wrapper div#messages div.message.from {
	background: #f15f74;
}
 div.conv-form-wrapper div.options div.option.selected {
	background: #f15f74;
	color: #fff;
}
 form.convFormDynamic button.submit {
	border: 1px solid #f15f74;
	background: #f15f74;
}
 form.convFormDynamic button.submit:hover {
	background: #f15f74;
	color: #fff;
}
 .exzoom .exzoom_nav .exzoom_nav_inner span.current {
	border: 1px solid #f15f74;
}
 .exzoom .exzoom_btn a {
	/*border: 1px solid #f15f74;*/
	color: #f15f74;
}
.prev:hover {
	transform: translate(-5px, 0px);
	color: #f15f74    !important;
}
.next:hover {
	transform: translate(5px, 0);
	color: #f15f74    !important;
}
.g_f-s .prev:hover i {
	transform: translate(-5px, 0px);
	color: #f15f74;
}
.g_f-s .next:hover i {
	transform: translate(5px, 0px);
	color: #f15f74;
}
.g_f-s .close-button>*:hover {
	color: #f15f74;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover {
	color: #f15f74;
}
.register {
	background: linear-gradient(120deg, #4f4ac7 0%, #f15f74    100%);
}
 .btnRegister {
	background: #f15f74;
}
 .register .nav-tabs .nav-link.active {
	color: #f15f74;
	border: 1px solid #f15f74;
}
 .pretty input:checked~.state.p-primary label:after, .pretty.p-toggle .state.p-primary label:after {
	background-color: #f15f74   !important
}
 .pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
	border-color: #f15f74   
}
 .pretty input:checked~.state.p-primary-o .icon1, .pretty input:checked~.state.p-primary-o .svg, .pretty input:checked~.state.p-primary-o svg, .pretty.p-toggle .state.p-primary-o .icon1, .pretty.p-toggle .state.p-primary-o .svg, .pretty.p-toggle .state.p-primary-o svg {
	color: #f15f74;
	stroke: #f15f74   
}
 .pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
	background-color: #f15f74   !important
}
 .pretty.p-switch input:checked~.state.p-primary:before {
	border-color: #f15f74   
}
 .pretty.p-switch.p-fill input:checked~.state.p-primary:before {
	background-color: #f15f74   !important
}
 .owl-carousel button.owl-dot {
	background: rgb(105, 99, 255, 0.3) !important;
}
 .owl-carousel button.owl-dot.active {
	background: #4801FF !important;
}
 .bg-background:before {
	background:  linear-gradient(-225deg, rgb(241 103 112) 0%, rgb(244 127 97) 48%, rgb(254 105 121) 100%);
}
 .bg-background2:before {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .bg-background-color:before {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .bg-background3:before {
	background:linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .bg-background-5:before {
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
 .bg-background-6:before {
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
/* .slider-header .item:before {
	background:  linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}*/
 .select2-container--default.select2-container--focus .select2-selection--multiple {
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px #f9faff, 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .custom-file-input:focus~.custom-file-label {
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .custom-range::-webkit-slider-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px #f9faff, 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .custom-range::-moz-range-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px #f9faff, 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .custom-range::-ms-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px #f9faff, 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .error-img .form-control:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .selectize-input.focus {
	border-color: #467fcf;
	box-shadow: 0 0 0 2px rgb(105, 99, 255, 0.25);
}
 .item-card:hover .item-card-desc:before {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%,  rgba(172, 50, 228, 0.7) 100%);
}
 .item-card7-imgs:hover a {
	background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%,  rgba(172, 50, 228, 0.7) 100%);
}
 .item-card2-img:hover a {
	background: transparent;
}
 .countdown-timer-wrapper .timer .timer-wrapper .time {
	
}
 .app-sidebar .side-menu__item.active {
	background: linear-gradient(to right, rgba(59, 162, 255), rgb(105, 99, 255)) !important;
	color: #fff !important;
}
 .app-sidebar .side-menu__item.active:hover {
	background: linear-gradient(to right, rgba(59, 162, 255), rgb(105, 99, 255)) !important;
	color: #fff !important;
}
 .app-sidebar:before {
	background: linear-gradient(to right, rgba(59, 162, 255, 0.9), rgb(105, 99, 255, 0.8));
}
 .app-sidebar-footer {
	background: linear-gradient(to right, rgba(59, 162, 255, 0.9), rgb(105, 99, 255, 0.8));
}
 .masthead .masthead-bg {
	background: linear-gradient(to right, rgba(59, 162, 255), rgb(105, 99, 255)) !important;
}
@media (max-width: 992px) {
	 .search-show .nav-search {
		background: linear-gradient(to right, rgb(105, 99, 255), rgba(59, 162, 255));
	}
}
@media (max-width: 992px) {
	 .nav-item.with-sub .sub-item {
		border-top: 2px solid #f15f74;
	}
}
@media (max-width:480px) {
	 .zoom-container .arrow-ribbon2:before {
		border-top: 17px solid transparent;
		border-left: 17px solid #f15f74;
		border-bottom: 17px solid transparent;
	}
}
 .bg-secondary {
	background-color: #4801FF  !important;
}
 a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
	background-color: #4801FF  !important;
}
 .btn-secondary {
	    color: #fff;
  background: #ef6072;
    border-color: #f15f74;
}
 .btn-secondary:hover {
	color: #ec296b !important;
    background-color: #ffffff !important;
    border-color: #f15f74 !important;
    font-weight: bold;
}
 .btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 2px rgba(47, 12, 108, 0.5);
}
 .btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #4801FF ;
	border-color: #4801FF ;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #4801FF ;
	border-color: #4801FF ;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(47, 12, 108, 0.5);
}
.bg-linkedin{
	background:#0077b5;
}
.bg-facebook{
	background:#3C5A99;
}
 .accent-2 {
    border-top: 2px solid #f15f74;
}
 .header-main i {
    color: #f15f74;
}
 .item-card .item-card-desc:before {
    background: rgba(40, 35, 47, 0.5);
  
}
 .item-card:hover .item-card-desc:before {
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.7) 0%, rgba(121, 24, 242, 0.7) 48%, rgba(172, 50, 228, 0.7) 100%);
}
@media (min-width: 992px){
	 .sticky-wrapper.is-sticky .horizontalMenu>.horizontalMenu-list>li>a.active {
		background-color: #f15f74;
		color: #fff;
	}
}
 .btn-orange {
    color: #fff;
    background-color: #e67605;
    border-color: #e67605;
}

 .item-card7-imgs:hover a {
    background: transparent;
}
 .item-card2-img:hover a {
    background: transparent;
}

 .arrow-ribbon.bg-secondary:before {
    border-left: 15px solid #4801FF ;
}
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f15f74;
}
 .sticky-wrapper.relative.banners .horizontalMenu>.horizontalMenu-list>li>a.active {
    background-color: #f15f74;
}
 .sticky-wrapper.relative.banners .horizontalMenu>.horizontalMenu-list>li:hover>a {
    background-color: #f15f74;
}
 .pricingTable2.pink .pricing-plans {
    background-color: #f15f74;
}

 .pricingTable .title:after {
    border-left: 26px solid rgba(255, 56, 43, 0.1);
}

 .pricingTable:hover {
    border: 1px solid rgb(255, 56, 43);
}
 .pricingTable.advance-pricing {
    border: 1px solid rgb(255, 56, 43);
}
 .pricingTable:hover .title {
    background: #f15f74;
}
 .construction-image:before{
	content: '';
	background:rgba(41, 5, 134, 0.88) ;
}
 .construction{
	z-index: 1;
}
 .countdown-timer-wrapper .timer .timer-wrapper .time {
	color: #f15f74;
	background:rgb(255, 255, 255);
}
 .pricingTable:hover .pricingTable-signup {
    background: #f15f74;
	color:#fff;
}
 .pricingTable .pricingTable-signup {
    background: rgba(255, 56, 43, 0.12);
    color: #f15f74;
}
 .pricingTable:hover .title {
    background: #f15f74;
	color:#fff;
}
 .pricingTable.advance-pricing{
	border: 1px solid #f15f74;
}
 .pricingTable:hover { 
   border: 1px solid #f15f74;
}
 .pricingTable:hover .title:before {
    border-right-color: #f15f74;
}
 .pricingTable:hover .title:after {
    border-left-color: #f15f74;
}
 .pricingTable .title:before,
 .pricingTable .title:after{
    content: "";
    border-right: 26px solid rgba(255, 56, 43, 0.1);
}
 .pricingTable .title:after{
    border-right: none;
    border-left: 26px solid rgba(255, 56, 43, 0.1);
}
 .pricingTable .title {
    background:rgba(255, 56, 43, 0.1);
}
 .pricingTable .title {
    color: #f15f74;
}
.construction-image:before{
    background: linear-gradient(-225deg, rgba(72, 1, 255, 0.9) 0%, rgba(121, 24, 242, 0.9) 48%, rgba(172, 50, 228, 0.9) 100%);
}
@media (max-width:991px){
	.horizontalMenu>.horizontalMenu-list>li>a.active {
		background-color: #f15f74;
		color: #fff;
	}
}


.bg-card-light:hover {
    border-color: #f15f74;
}

.status-border:hover{
	border: 1px solid #f15f74 !important;
}
.status-border:hover i{
	color:  #f15f74!important;
}
.bg-card:hover{
	background:#f15f74;
	color:#fff;
}
.bg-card .cat-img i {
    color:#f15f74;
}
.bg-card:hover .cat-img i{
	color: #fff;
}
.sticky-wrapper.absolute.banners .horizontalMenu>.horizontalMenu-list>li>a.active {
    background-color: #f15f74;
    color: #fff!important;
}