/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 3, 2020, 3:10:55 PM
    Author     : Dell
*/

.btn-green{
    background:#8BC34A;
    border-color:#8BC34A;
    color:#fff;
}
