.F8dpS {
    position: absolute;
    bottom: 8px;
    width: 96px;
    min-height: 36px;
    line-height: 36px;
    left: 50%;

}
._3L1X9 {
      display: inline-block;
    height: 30px;
    width: 73px;
    border: 1px solid #f15f74;
    color: #f15f74;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 2px;
    top: 2px;
    border-radius: 7px;
}

._1RPOp {
    color:  #f15f74;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-top: 4px;
}

._2zAXs._2quy-._4aKW6 {
    margin-top: 4px;
}

._1ds9T {
    position: absolute;
    right: 0;
    top: 1px;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 137%;
    font-weight: 600;
}


._29Y5Z {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

#increament-div{
display: none;
}



/*---animation----*/


#box, #box1 {
   width: 20px;
  height: 2px;
  background: #ff7503;
  position: absolute;
  top: 35px !important;
  animation: mymove 0.5s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from {right: 0px;}
  to {right: 65px;}
}