.blg_grid_caption {
    position: relative;
    display: block;
    padding: 1.2rem 1.2rem;
}

.blg_grid_box {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
}

.blg_title a {
    color: #f15f74;
    font-weight: 800;
    /* margin-bottom: 11px; */
}

.blg_title h4 {
    margin-bottom: 16px;
}

.article_body_wrap {
  background: #fff;
    padding: 25px;
    border: 1px solid #cccccc8a;
    border-radius: 6px;
}

.blog-icons i {
    color: #f16173;
    font-size: 16px;
}

h2.post-title {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 10px;
}

.article_featured_image img {
    width: 100%;
    height: 400px;
}