.about-us h4 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
}
.icons-set__item {
    display: table;
    width: 100%;
}

.icons-set__item__field--fix-size {
    width: 85px;
}

.icons-set__item__field {
    display: table-cell;
    vertical-align: top;
}

.icons-set__item__icon-wrap {
    width: 66px;
    height: 66px;
    background: #47a0ff;
    border-radius: 100%;
    position: relative;
    color: #fff;
}

.icons-set__item__icon-wrap:before {
    content: " ";
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 2px dotted rgba(255,255,255,0.5);
    border-radius: 100%;
}

.icons-set__item__icon-wrap i {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.667em;
}

section.service-section {
    padding: 80px 20px;
}

.service-section {
    margin-bottom: 66px;
}

.privacy-header h2 {
    padding: 0px 30px;
    color: #000;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
}

.privacy-policy p {
    padding: 0px 30px;
}


.privacy-policy ul {
    padding: 0px 120px;
}

.privacy-policy ul li {
   margin-bottom: 16px;
    list-style: disc;
}