.my-booking-rating {
    color: #fff;
    padding: 2px 8px;
    position: absolute;
    top: 45px;
    left: 13px;
    z-index: 98;
    font-size: 18px;
    border-radius: 3px;
    background: hsl(127deg 85% 35%);
}

.rating span {
    position: relative;
    left: 78px;
    top: 11px;
    font-weight: 700;
    color: #f15f74;
    font-size: 18px;
}

.rating {
    width: 100%;
}

.payment-status {
    color: #fff;
    padding: 2px 8px;
    position: absolute;
    top: 21px;
    left: 1px;
    z-index: 98;
    font-size: 18px;
    border-radius: 0px;
    background: hsl(355deg 71% 63%);
}

.payment-status {
    color: #fff;
    padding: 7px 18px;
    position: absolute;
    top: 21px;
    left: 1px;
    z-index: 98;
    font-size: 17px;
    border-radius: 0px;
    background: hsl(236deg 44% 19%);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

ul.payment-footer li {
    display: inline;
    padding-right: 7px;
    position: relative;
    top: -2px;
}

.status-view.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0px rgb(194 197 199 / 0%);
}