.summary-icon {
    font-size: 37px;
    text-align: center;
    color: #fff;
    border-radius: 42px;
    padding: 11px 12px;
}

.widget-summary .col-md-7 {
    align-self: center;
}

.status-view {
    background: rgba(2, 182, 179,0.12) !important;

}

.status-view a {

    color: #1db9aa !important;
}

.bg-danger-light {
    background-color: rgba(242, 17, 54,0.12) !important;
    color: #e63c3c !important;
}

.bg-success-light {
    background-color: rgba(15, 183, 107,0.12) !important;
    color: #26af48 !important;
}

.bg-success-light {
    background-color: rgba(15, 183, 107,0.12) !important;
    color: #26af48 !important;
}

.bg-warning-light {
    background-color: rgba(255, 152, 0,0.12) !important;
    color: #f39c12 !important;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card.notification h3 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 16px;
}


.card.notification p {
    margin-top: 10px !important;
}

a.booking-doc-img {
    display: inline-block;
    margin: 0 0 5px;
    width: auto;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.profile-info-widget img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.profile-info-widget {
    text-align: center;
}

.upload-img span i{
    z-index: 10;
    background-color: #0c6db4 !important;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
    position: absolute;
    transition: .3s;
    text-align: center;
    line-height: 25px;
    width: 25px !important;
    height: 25px !important;
    top: 97px;
    right: 84px;;
}

.refer-friend-child img {
    width: 500px;
    /* text-align: center; */
}
.refer-friend-child {
    text-align: center;
}

.refer-friend-child {
    text-align: center;
}

.refer-friend-child p {
    font-size: 29px;
    margin-bottom: 0px;
}

.refer-friend-child p:nth-child(2) {
    color: #f47e62;
    font-weight: bold;
}
.refer-friend-child p:nth-child(3) {
    color: #f15d74;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

span.refer-header {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.refer-parent h5 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.biller-info span {
    font-size: 14px;
    line-height: 2;
}

.billing-info p, span {
    line-height: 2
}

.card-table .table thead {
    background: #ddd;
}

.table thead {
    border-bottom: 1px solid;
    background: #eee;
    text-align: left;
}

.table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
}

.order-booking-view th {
    font-weight: bold !important;
    font-size: 15px;
    color: #000;
}

.orders {
    font-size: 37px;
    text-align: center;
    color: #fff;
    border-radius: 42px;
    padding: 11px 12px;
    background: #ffc107;
}

.summary-icon.wallet {
    font-size: 37px;
    text-align: center;
    color: #fff;
    border-radius: 42px;
    padding: 11px 12px;
    background: #f58160
}

.biller-info b {
    color: #000;
    font-weight: 900;
}

.billing-info h4 {
    color: #f47c64;
    font-weight: bold;
}

ul.socials {
    margin-top: 9px;
}

.table tbody tr:last-child{

    border-bottom: inherit;
}
.service-table table {
    margin-bottom: 0px;
}

.service-table table td {
    text-align: center;
}

.Pyment-details table td {
    text-align: center;
}