* {box-sizing: border-box;}
.tab{display: none; width: 100%; height: 50%;margin: 0px auto;}
.current{display: block;}

body {background-color: #f1f1f1;}

form {background-color: #ffffff;  padding: 40px; }

h1 {text-align: center; }

input {padding: 10px; width: 100%; font-size: 17px; font-family: Raleway; border: 1px solid #aaaaaa; }

button {background-color: #4CAF50; color: #ffffff; border: none; padding: 10px 20px; font-size: 17px; cursor: pointer; }

button:hover {opacity: 0.8; }

.previous {background-color: #bbbbbb; }

/* Make circles that indicate the steps of the form: */
.step {
	
	height: 50px; width: 50px; cursor: pointer; margin: 0 20px; color: #fff; background-color: #bbbbbb; border: none; border-radius: 50%; display: inline-block; opacity: 0.8; line-height:50px; font-size:22px;
	position:relative; z-index:999;
	}

.tab-stpes strong{
	display:block;
	color:#000;
	font-size:14px;
	margin-top:10px;
}

.tab-stpes{
	position:relative;
	}
	
.tab-stpes:after{
	content: '';
    width: 100%;
    height: 2px;
    background: #bbbbbb;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 1;
	}

.step.active {opacity: 1; background-color: #007b91;}

.step.finish {background-color: #4CAF50; }

.error {color: #f00; }