$thm-pink:#cf1673;
$thm-blue:#081f66;
.bg-blue{
	background-color: $thm-blue!important;
}
.product_column4.owl-carousel .owl-item img{
	border-radius: 100%;
}
.categories_product_area{
	background-color: #f7f7f7;
	padding:20px 0px 20px 0px;
	margin-bottom: 10px;
}

.blog_content{
	text-align: center;
}
.single_blog{
	background-color: #f6f6f6;
	padding-bottom: 10px;
	border-radius: 0px 0px 10px 10px;
	img{
		border-radius: 5px 5px 0px 0px;
	}
}

.footer_widgets{
	padding-top: 30px;
}

.footer_middle{
	h4{
		color:$thm-pink;
		padding-bottom: 20px;
		position: relative;
		font-weight: 300;
		font-size: 18px;
		&:after{
			position: absolute;
			content: "";
			width: 30px;
			height: 2px;
			background-color: #575757;
			left:0px;
			bottom:5px;
		}
	}
	ul.links{
		margin:0px;
		padding:0px 0px 0px 0px;
		li{
			a{
				color: #fff;
   				opacity: 0.5;
   				padding-left: 5px;
   				font-weight: 300;
   				&:hover{
   					color:#fff;
   					opacity: 1;
   				}
   				&:before{
   					content: "\f105";
   					font-family: 'Font Awesome 5 Pro';
   					font-weight: 300;
   					padding-right: 5px;
   				}
			}
		}
	}
}

.customer_login{
	border:1px solid red;
}

#loginModal,#registerModal,#forgotModal,#otpModal{
	.modal-body{
		background: url('../img/loginbg.png') no-repeat $thm-blue;
		min-height: 500px;
		border:5px solid rgba(255,255,255,0.1);
		.btn-close{
			width: 40px;
			height: 40px;
			display: block;
			background: none;
			border:none;
			float: right;
			font-size: 30px;
			color:#fff;
			position: absolute;
			right:10px;
			z-index: 9999999;
			&:hover{
				color:#19a6ff;
			}
		}
		h4{
			margin:0px;
			padding:90px 0px 20px 0px;
			color:#fff;
			font-size: 30px;
			text-align: center;
			font-weight: 300;
			z-index: 9999;
			position: relative;
		}
		.input-group-text{
			background-color: #fff;
			border:none;
			border-radius: 30px 0px 0px 30px;
			font-size: 20px;
		}
		.input-group{
			height: 50px;
		}
		a{
			color:#fff;
			&:hover{
				color:$thm-pink;
			}
		}
		.form-control{
			border-radius: 0px 30px 30px 0px;
			border-color:#fff;
			&:focus{
				box-shadow: inherit;
			}
		}
	}
	p{
		color: #fff;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 999;
		a{
			color:$thm-pink!important;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		span{
			color: $thm-pink;
		}
	}
	.btn-pink{
		background: $thm-pink;
		padding:13px 20px;
		border-radius: 30px;
		color:#fff;
		margin-bottom: 10px;
		font-size: 20px;
		&:hover{
			background-color: #19a6ff;
		}
	}
}
#registerModal{
	.modal-body{
		min-height: 600px;
	}
	h4{
		padding:20px 0px 20px 0px!important;
	}
}
#otpModal{
	.form-control{
		height: 50px;
		border-radius: 10px 10px 10px 10px!important;
		margin-bottom: 15px;
		font-size: 24px;
		text-align: center;
	}
}

.storesnearbox{
	padding:6px 0px;
	.card{
		border-radius: 10px 10px 10px 10px;
		img{
			height: 180px;
			object-fit: cover;
			transition: all 0.3s ease 0s;
			&:hover{
				transform: scale(1.1);
				border-radius: 10px 10px 0px 0px;
			}
		}
	}
	.img-box{
		position: relative;
		overflow: hidden;
		border-radius: 10px 10px 0px 0px;
	}
	.card-img-top{
		border-radius: 10px 10px 0px 0px;
	}
	.card-footer{
		border-radius: 0px 0px 10px 10px;
	}
	h4 a:hover{
		color:$thm-pink;
	}
	h5{
		position: absolute;
		right:10px;
		bottom:5px;
		background-color: $thm-pink;
		width: 120px;
		color:#fff;
		padding:7px 10px;
		text-align: center;
		border-radius: 20px;
	}
	p{
		margin-bottom: 0px;
		max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
	}
}


.pinkcol{
	color: $thm-pink;
}

.nice-select .list{
	right:0;
	left:inherit!important;
}

.product_details{
	border-top: 1px solid #f6f6f6;
	padding-top: 20px;
	.container {
    	max-width: 1340px;
	}
}
.product_d_right{
	position: relative;
}
.product_variant{
	ul.highlights{
		padding-left: 20px;
		margin: 0px;
		padding: 0px;
		li{
			font-size: 14px;
			text-align: left;
			display: block;
			border:0px;
			position: relative;
			padding-left: 15px;
			list-style-type: none;
			&:before{
				font-family: 'Font Awesome 5 Pro';
				content: '\f111';
				font-weight: 700;
				color:$thm-pink;
				font-size: 5px;
				padding-right: 5px;
				position: absolute;
				top:2px;
				left:0px;
			}
		}
	}
}
p.bid-text{
	text-align: center;
	a{
	font-weight: 600;
	color:$thm-pink;
	&:hover{
		color:#333!important;
	}
}
}

#bidModal{
	.btn-close{
		background: inherit!important;
		border:none!important;
	}
	h5.modal-title i{
		color:$thm-pink;
	}
	ul{
		li{
			position: relative;
			padding-bottom: 5px;
			padding-left: 15px;
			&:before{
				font-family: 'Font Awesome 5 Pro';
				content: '\f111';
				font-weight: 700;
				color:$thm-pink;
				font-size: 7px;
				padding-right: 10px;
				position: absolute;
				top:0px;
				left:0px;
			}
		}
	}
}
.newaddressbox{
	.form-group{
		margin-bottom: 15px;
	}
	.form-control{
		height: 45px;
		border-radius: 30px;
		&:focus{
			box-shadow: inherit!important;
			border-color: $thm-pink;
		}
	}
	.input-group-text{
		border-radius: 30px 0px 0px 30px;
	}
	select.form-control{
		position: relative;
	}
	label{
		font-weight: bold;
	}
}
.downarrow{
	background: url('../img/chevron-down.svg') no-repeat;
	background-size: 16px 16px;
	background-position: 96% 14px;
	position: absolute;
}
.btn-address{
	background-color: $thm-pink;
	padding:10px 30px;
	color:#fff;
	border-radius: 30px;
	margin-top: 20px;
	&:hover{
		background-color: $thm-blue;
		color:#fff;
	}
}
.card{
	.btn-success,.btn-danger{
		border-radius: 30px;
		padding:5px 20px;
	}
}
.btn-blue{
	background-color: $thm-blue;
	color:#fff;
	border-color: $thm-blue;
	&:hover{
		background-color: $thm-pink;
		color:#fff;
		border-color: $thm-pink;
	}
}
.bg-blue{
	background-color: $thm-blue;
	color:#fff;
	h4{
		color:#fff;
		font-size: 20px;
		margin:0px;
		padding:5px 0px;
	}
}
.btn_continue{
	margin:5px 0px;
	padding:15px 30px;
	color: $thm-pink;
	border-radius: 30px;
	border:1px solid $thm-pink;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	top:20px;
	&:hover{
		color:$thm-blue;
		border:1px solid $thm-blue;
	}
}
.pb-100{
	padding-bottom: 100px;
}

.form-check-input:checked {
    background-color: $thm-pink;
    border-color: $thm-pink;
}
.form-check-input:focus{
	box-shadow: 0 0 0 0.2rem #ffe8f8;
}

.step {
  list-style: none;
  margin: .2rem 0;
  width: 100%;

  .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;

    &:not(:first-child)::before {
      background: $thm-pink;
      content: "";
      height: 2px;
      left: -50%;
      position: absolute;
      top: 9px;
      width: 100%;
    }

    a {
      color: #333;
      display: inline-block;
      padding: 20px 10px 0;
      text-decoration: none;

      &::before {
        background: $thm-pink;
        border: .1rem solid #fff;
        border-radius: 50%;
        content: "";
        display: block;
        height: .9rem;
        left: 50%;
        position: absolute;
        top: .2rem;
        transform: translateX(-50%);
        width: .9rem;
        z-index: 1;
      }
    }

    &.active {
      a::before {
        background: #fff;
        border: .1rem solid $thm-pink;
      }

      ~ .step-item {
        &::before, a::before {
          background: #e7e9ed;
        }
      }
    }
  }
}

.about_section{
	padding-top: 50px;
}

.condetails{
	.row{
		background-color: #e5f6ff;
		padding:8px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
	i{
		width: 50px;
		height: 50px;
		font-size: 25px;
		border-radius: 100%;
		line-height: 50px;
		text-align: center;
		color:#fff;
		background-color: $thm-pink;
	}
	.col-auto{
		padding-left: 40px;
	}
	h4{
		color:$thm-blue;
	}
}
.about_section p{
	text-align: justify;
}
.dashboard{
	padding:50px 0px;
}

/*dashboard-styles*/
ul.dashboardlist{
	margin:0px;
	padding:0px 0px 20px 0px;
	li{
		a{
			color:#fff;
			display: block;
			background-color: $thm-blue;
			padding:10px 10px;
			border-bottom: 1px solid #172e74;
			text-transform: uppercase;
			i{
				font-size: 20px;
				padding-right: 10px;
			}
			&:hover{
				background-color: $thm-pink;
			}
		}
		&.active a{
			background-color: $thm-pink;
		}
		&:first-child a{
			border-radius: 5px 5px 0px 0px;
		}
		&:last-child a{
			border-radius: 0px 0px 5px 5px;
		}
	}
}

.myaccioc{
	.card{
		margin-bottom: 10px;
	}
	i{
		width: 50px;
		height: 50px;
		background-color: $thm-pink;
		font-size: 30px;
		border-radius: 100%;
		color:#fff;
		line-height: 50px;
		text-align: center;
	}
	h4{
		font-weight: 300;
		font-size: 20px;
	}
}

.orderimg{
	max-width: 70px;
	height: auto;
}

.bidfulldetails{
	strong{
		font-size: 22px;
	}
	span{
		font-weight: 600;
		width: 150px;
		display: inline-block;
	}
}

p.fz-20{
	font-size: 20px;
}

.btn-pink {
    background: $thm-pink;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    &:hover{
    	background:$thm-blue ;
    	color: #fff;
    }
}
.btn-sm{
	padding:3px 5px!important;
	font-size: 12px;
}

.pro-cart{
	height: 55vh; 
	padding-right:20px;
	overflow-y: auto;
	&::-webkit-scrollbar {
	  width: 10px;
	}
	&::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	} 
	&::-webkit-scrollbar-thumb {
	  background: #888; 
	}
	&::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
}

.elevatezoom-gallery img{
	width: 100%;
	height: 70px;
	object-fit: contain;
}