.bg-blue {
  background-color: #081f66 !important; }

.product_column4.owl-carousel .owl-item img {
  border-radius: 100%; }

.categories_product_area {
  background-color: #f7f7f7;
  padding: 20px 0px 20px 0px;
  margin-bottom: 10px; }

.blog_content {
  text-align: center; }

.single_blog {
  background-color: #f6f6f6;
  padding-bottom: 10px;
  border-radius: 0px 0px 10px 10px; }
  .single_blog img {
    border-radius: 5px 5px 0px 0px; }

.footer_widgets {
  padding-top: 30px; }

.footer_middle h4 {
  color: #cf1673;
  padding-bottom: 20px;
  position: relative;
  font-weight: 300;
  font-size: 18px; }
  .footer_middle h4:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #575757;
    left: 0px;
    bottom: 5px; }
.footer_middle ul.links {
  margin: 0px;
  padding: 0px 0px 0px 0px; }
  .footer_middle ul.links li a {
    color: #fff;
    opacity: 0.5;
    padding-left: 5px;
    font-weight: 300; }
    .footer_middle ul.links li a:hover {
      color: #fff;
      opacity: 1; }
    .footer_middle ul.links li a:before {
      content: "\f105";
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;
      padding-right: 5px; }

.customer_login {
  border: 1px solid red; }

#loginModal .modal-body, #registerModal .modal-body, #forgotModal .modal-body, #otpModal .modal-body {
  background: url("../img/loginbg.png") no-repeat #081f66;
  min-height: 500px;
  border: 5px solid rgba(255, 255, 255, 0.1); }
  #loginModal .modal-body .btn-close, #registerModal .modal-body .btn-close, #forgotModal .modal-body .btn-close, #otpModal .modal-body .btn-close {
    width: 40px;
    height: 40px;
    display: block;
    background: none;
    border: none;
    float: right;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 9999999; }
    #loginModal .modal-body .btn-close:hover, #registerModal .modal-body .btn-close:hover, #forgotModal .modal-body .btn-close:hover, #otpModal .modal-body .btn-close:hover {
      color: #19a6ff; }
  #loginModal .modal-body h4, #registerModal .modal-body h4, #forgotModal .modal-body h4, #otpModal .modal-body h4 {
    margin: 0px;
    padding: 90px 0px 20px 0px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    z-index: 9999;
    position: relative; }
  #loginModal .modal-body .input-group-text, #registerModal .modal-body .input-group-text, #forgotModal .modal-body .input-group-text, #otpModal .modal-body .input-group-text {
    background-color: #fff;
    border: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 20px; }
  #loginModal .modal-body .input-group, #registerModal .modal-body .input-group, #forgotModal .modal-body .input-group, #otpModal .modal-body .input-group {
    height: 50px; }
  #loginModal .modal-body a, #registerModal .modal-body a, #forgotModal .modal-body a, #otpModal .modal-body a {
    color: #fff; }
    #loginModal .modal-body a:hover, #registerModal .modal-body a:hover, #forgotModal .modal-body a:hover, #otpModal .modal-body a:hover {
      color: #cf1673; }
  #loginModal .modal-body .form-control, #registerModal .modal-body .form-control, #forgotModal .modal-body .form-control, #otpModal .modal-body .form-control {
    border-radius: 0px 30px 30px 0px;
    border-color: #fff; }
    #loginModal .modal-body .form-control:focus, #registerModal .modal-body .form-control:focus, #forgotModal .modal-body .form-control:focus, #otpModal .modal-body .form-control:focus {
      box-shadow: inherit; }
#loginModal p, #registerModal p, #forgotModal p, #otpModal p {
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 999; }
  #loginModal p a, #registerModal p a, #forgotModal p a, #otpModal p a {
    color: #cf1673 !important;
    text-decoration: underline; }
    #loginModal p a:hover, #registerModal p a:hover, #forgotModal p a:hover, #otpModal p a:hover {
      text-decoration: none; }
  #loginModal p span, #registerModal p span, #forgotModal p span, #otpModal p span {
    color: #cf1673; }
#loginModal .btn-pink, #registerModal .btn-pink, #forgotModal .btn-pink, #otpModal .btn-pink {
  background: #cf1673;
  padding: 13px 20px;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px; }
  #loginModal .btn-pink:hover, #registerModal .btn-pink:hover, #forgotModal .btn-pink:hover, #otpModal .btn-pink:hover {
    background-color: #19a6ff; }

#registerModal .modal-body {
  min-height: 600px; }
#registerModal h4 {
  padding: 20px 0px 20px 0px !important; }

#otpModal .form-control {
  height: 50px;
  border-radius: 10px 10px 10px 10px !important;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center; }

.storesnearbox {
  padding: 6px 0px; }
  .storesnearbox .card {
    border-radius: 10px 10px 10px 10px; }
    .storesnearbox .card img {
      height: 180px;
      object-fit: cover;
      transition: all 0.3s ease 0s; }
      .storesnearbox .card img:hover {
        transform: scale(1.1);
        border-radius: 10px 10px 0px 0px; }
  .storesnearbox .img-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px; }
  .storesnearbox .card-img-top {
    border-radius: 10px 10px 0px 0px; }
  .storesnearbox .card-footer {
    border-radius: 0px 0px 10px 10px; }
  .storesnearbox h4 a:hover {
    color: #cf1673; }
  .storesnearbox h5 {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #cf1673;
    width: 120px;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    border-radius: 20px; }
  .storesnearbox p {
    margin-bottom: 0px;
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; }

.pinkcol {
  color: #cf1673; }

.nice-select .list {
  right: 0;
  left: inherit !important; }

.product_details {
  border-top: 1px solid #f6f6f6;
  padding-top: 20px; }
  .product_details .container {
    max-width: 1340px; }

.product_d_right {
  position: relative; }

.product_variant ul.highlights {
  padding-left: 20px;
  margin: 0px;
  padding: 0px; }
  .product_variant ul.highlights li {
    font-size: 14px;
    text-align: left;
    display: block;
    border: 0px;
    position: relative;
    padding-left: 15px;
    list-style-type: none; }
    .product_variant ul.highlights li:before {
      font-family: 'Font Awesome 5 Pro';
      content: '\f111';
      font-weight: 700;
      color: #cf1673;
      font-size: 5px;
      padding-right: 5px;
      position: absolute;
      top: 2px;
      left: 0px; }

p.bid-text {
  text-align: center; }
  p.bid-text a {
    font-weight: 600;
    color: #cf1673; }
    p.bid-text a:hover {
      color: #333 !important; }

#bidModal .btn-close {
  background: inherit !important;
  border: none !important; }
#bidModal h5.modal-title i {
  color: #cf1673; }
#bidModal ul li {
  position: relative;
  padding-bottom: 5px;
  padding-left: 15px; }
  #bidModal ul li:before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f111';
    font-weight: 700;
    color: #cf1673;
    font-size: 7px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    left: 0px; }

.newaddressbox .form-group {
  margin-bottom: 15px; }
.newaddressbox .form-control {
  height: 45px;
  border-radius: 30px; }
  .newaddressbox .form-control:focus {
    box-shadow: inherit !important;
    border-color: #cf1673; }
.newaddressbox .input-group-text {
  border-radius: 30px 0px 0px 30px; }
.newaddressbox select.form-control {
  position: relative; }
.newaddressbox label {
  font-weight: bold; }

.downarrow {
  background: url("../img/chevron-down.svg") no-repeat;
  background-size: 16px 16px;
  background-position: 96% 14px;
  position: absolute; }

.btn-address {
  background-color: #cf1673;
  padding: 10px 30px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px; }
  .btn-address:hover {
    background-color: #081f66;
    color: #fff; }

.card .btn-success, .card .btn-danger {
  border-radius: 30px;
  padding: 5px 20px; }

.btn-blue {
  background-color: #081f66;
  color: #fff;
  border-color: #081f66; }
  .btn-blue:hover {
    background-color: #cf1673;
    color: #fff;
    border-color: #cf1673; }

.bg-blue {
  background-color: #081f66;
  color: #fff; }
  .bg-blue h4 {
    color: #fff;
    font-size: 20px;
    margin: 0px;
    padding: 5px 0px; }

.btn_continue {
  margin: 5px 0px;
  padding: 15px 30px;
  color: #cf1673;
  border-radius: 30px;
  border: 1px solid #cf1673;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  top: 20px; }
  .btn_continue:hover {
    color: #081f66;
    border: 1px solid #081f66; }

.pb-100 {
  padding-bottom: 100px; }

.form-check-input:checked {
  background-color: #cf1673;
  border-color: #cf1673; }

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem #ffe8f8; }

.step {
  list-style: none;
  margin: .2rem 0;
  width: 100%; }
  .step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center; }
    .step .step-item:not(:first-child)::before {
      background: #cf1673;
      content: "";
      height: 2px;
      left: -50%;
      position: absolute;
      top: 9px;
      width: 100%; }
    .step .step-item a {
      color: #333;
      display: inline-block;
      padding: 20px 10px 0;
      text-decoration: none; }
      .step .step-item a::before {
        background: #cf1673;
        border: .1rem solid #fff;
        border-radius: 50%;
        content: "";
        display: block;
        height: .9rem;
        left: 50%;
        position: absolute;
        top: .2rem;
        transform: translateX(-50%);
        width: .9rem;
        z-index: 1; }
    .step .step-item.active a::before {
      background: #fff;
      border: 0.1rem solid #cf1673; }
    .step .step-item.active ~ .step-item::before, .step .step-item.active ~ .step-item a::before {
      background: #e7e9ed; }

.about_section {
  padding-top: 50px; }

.condetails .row {
  background-color: #e5f6ff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px; }
.condetails i {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #cf1673; }
.condetails .col-auto {
  padding-left: 40px; }
.condetails h4 {
  color: #081f66; }

.about_section p {
  text-align: justify; }

.dashboard {
  padding: 50px 0px; }

/*dashboard-styles*/
ul.dashboardlist {
  margin: 0px;
  padding: 0px 0px 20px 0px; }
  ul.dashboardlist li a {
    color: #fff;
    display: block;
    background-color: #081f66;
    padding: 10px 10px;
    border-bottom: 1px solid #172e74;
    text-transform: uppercase; }
    ul.dashboardlist li a i {
      font-size: 20px;
      padding-right: 10px; }
    ul.dashboardlist li a:hover {
      background-color: #cf1673; }
  ul.dashboardlist li.active a {
    background-color: #cf1673; }
  ul.dashboardlist li:first-child a {
    border-radius: 5px 5px 0px 0px; }
  ul.dashboardlist li:last-child a {
    border-radius: 0px 0px 5px 5px; }

.myaccioc .card {
  margin-bottom: 10px; }
.myaccioc i {
  width: 50px;
  height: 50px;
  background-color: #cf1673;
  font-size: 30px;
  border-radius: 100%;
  color: #fff;
  line-height: 50px;
  text-align: center; }
.myaccioc h4 {
  font-weight: 300;
  font-size: 20px; }

.orderimg {
  max-width: 70px;
  height: auto; }

.bidfulldetails strong {
  font-size: 22px; }
.bidfulldetails span {
  font-weight: 600;
  width: 150px;
  display: inline-block; }

p.fz-20 {
  font-size: 20px; }

.btn-pink {
  background: #cf1673;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px; }
  .btn-pink:hover {
    background: #081f66;
    color: #fff; }

.btn-sm {
  padding: 3px 5px !important;
  font-size: 12px; }

.pro-cart {
  height: 55vh;
  padding-right: 20px;
  overflow-y: auto; }
  .pro-cart::-webkit-scrollbar {
    width: 10px; }
  .pro-cart::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .pro-cart::-webkit-scrollbar-thumb {
    background: #888; }
  .pro-cart::-webkit-scrollbar-thumb:hover {
    background: #555; }

.elevatezoom-gallery img {
  width: 100%;
  height: 70px;
  object-fit: contain; }

/*# sourceMappingURL=costumnew.css.map */
