@media only screen and (max-width: 1367px) {
  .categories_content h4 {
    font-size: 14px; } }
@media only screen and (max-width: 1199px) {
  .footer_social ul li {
    margin-right: 5px; }
    .footer_social ul li a {
      width: 37px;
      height: 37px;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      color: #888888;
      border: 1px solid #545454;
      font-size: 16px;
      line-height: 37px; } }
@media only screen and (max-width: 1000px) {
  .categories_content h4 {
    font-size: 12px; }

  .product_content h4 {
    font-size: 16px; }
    .product_content h4 a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inherit; } }
@media only screen and (max-width: 992px) {
  .offcanvas_main_menu li a {
    color: #fff; }

  .offcanvas_main_menu li span.menu-expand {
    color: #fff; }

  #no-more-tables.table-responsive .table {
    border: 0px !important; }

  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block; }

  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  #no-more-tables tr:first-child {
    border-top: 1px solid #ccc; }

  #no-more-tables tr {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }

  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }

  #no-more-tables td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold; }

  #no-more-tables td:before {
    content: attr(data-title); }

  .dashboard {
    padding: 30px 0px; } }
@media only screen and (max-width: 768px) {
  .footer_middle ul.links {
    padding-bottom: 20px; }

  #loginModal .modal-body:before, #registerModal .modal-body:before, #forgotModal .modal-body:before, #otpModal .modal-body:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(8, 3, 102, 0.5); }

  .subpage .canvas_open {
    top: 20px; } }
@media only screen and (max-width: 480px) {
  .logo img {
    max-width: 120px; } }

/*# sourceMappingURL=newresponsive.css.map */
